<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
         <div class='main-content'>
         {{>header}}
        <p>This site was cressated by Hugo Claudio it uses data from weather api's</p>
        <img src="/img/hugo.jpg" class='portrait' alt="">
        </div>
        {{>footer}}
    </body>
</html>